$color-blue: #325BAF;
$color-green: #01D167;
$color-white: #FFFFFF;
$color-black: #222222;

$spacing-unit: 4px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: Open-Sans;
  font-size: 14px;
}
