@import './base.scss';

.cards-desktop{
  display: flex;
} 

.card-details-card{
  padding: $spacing-unit*6;
  background:#F5F9FF;
  border-radius: $spacing-unit*2;
  box-shadow:0 0 $spacing-unit*2 #0000000A;
  display:flex;
  justify-content:space-between
}

.side-nav {
  width: 340px;
  background: #0C365A;
  min-height: 100vh;
  padding: $spacing-unit*12;
}

.side-nav--logo-text {
  color:rgba(255, 255, 255, 0.3);
  margin:$spacing-unit*5 0 $spacing-unit*16;
}

.content{
  padding: $spacing-unit*12;
  width: 100%;
}

.debit-card{
  background:rgba(1, 209, 103, 1);
  border-radius:8px;
  color:$color-white;
  width: 100%;
  display:flex;
  flex-direction: column;
  padding:28px;
  @media (max-width:600px) {
    padding: $spacing-unit*6 !important;
    padding-right: $spacing-unit*8 !important;
  }
}



.debit-card--user-name {
  font-size:24px;
  font-weight:bold;
  margin-top:$spacing-unit*7;
}

.debit-card--number {
  display: flex;
  gap: $spacing-unit*7;
  margin-top: $spacing-unit*8;
  align-items: center;
  @media (max-width:600px) {
    gap: $spacing-unit*6 !important;
  }
}

.debit-card--expiry {
  display:flex;
  margin-top: $spacing-unit*5;
  font-size:13px;
  align-items:center;
}

.debit-card--cvv {
  font-size: $spacing-unit*6;
  font-weight:bold;
  margin-left: $spacing-unit*1;
}

.debit-card--dot-container{
  display: flex;
  gap: $spacing-unit*1.5;
}

.debit-card--dot {
  height: 9px;
  width: 9px;
  background-color: $color-white;
  border-radius: 50%;
  display: inline-block;
}

.payment-actions{
  background:#EDF3FF;
  border-radius: $spacing-unit*4;
  color:$color-white;
  display:flex;
  padding:$spacing-unit*5 $spacing-unit*7;
  justify-content: space-between;
  text-align: center;
  margin-top:$spacing-unit*8;
  color:#0C365A;
  font-size:13px
}

.recent-transactions {
  border:1px solid #F0F0F0;
  border-radius:$spacing-unit*2;
}

.recent-transactions--card {
  background:#F5F9FF;
  box-shadow:0 0 $spacing-unit*2 #0000000A;
  padding:$spacing-unit*6;
}

.recent-transactions--transaction {
  display:flex;
  justify-content:space-between;
  padding:$spacing-unit*6 0;
  border-bottom:1px solid #F0F0F0;
  &:last-child{
    border-bottom: none;
  }
}

.recent-transactions--transaction--image-container {
  width:$spacing-unit*12;
  height:$spacing-unit*12;
  background:#009DFF1A;
  border-radius:50%;
  margin-right:$spacing-unit*3;
}
.recent-transactions--transaction--image{
  width:$spacing-unit*4;
  height:$spacing-unit*4;
  margin: $spacing-unit*4;
}

.recent-transactions--transaction--action-icon{
  background:$color-blue;
  width:$spacing-unit*6;
  height:$spacing-unit*6;
  border-radius:$spacing-unit*2;
  margin-right:$spacing-unit*2;
  padding-left:7px
}
.recent-transactions--transaction--date {
  color:#AAAAAA;
  font-size:13px
}

.arrow-up {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.next {
  margin-left:$spacing-unit*2;
  width:$spacing-unit*1.5;
  height:$spacing-unit*3;
}


.cards-mobile {
  background: #0C365A;
}

.card-scroller{
  margin-top:$spacing-unit*4;
  display:flex;
  gap:$spacing-unit*2;
  justify-content:center;
}

.card-scroller--content{
  background:$color-green;
  width:$spacing-unit*4;
  height:$spacing-unit*2;
  border-radius:$spacing-unit*2;
  &:not(:first-child){
    opacity: 30%;
    width: $spacing-unit*2;
  }
}

.btn--available-balance{
  background:$color-green;
  border-radius:$spacing-unit;
  border:transparent;
  height:$spacing-unit*6;
  width:$spacing-unit*10;
  margin-right:$spacing-unit*3;
  color:$color-white;
}

.btn-pay{
  background:$color-green;
  border-radius:$spacing-unit;
  border:transparent;
  padding: $spacing-unit*2;
  color:$color-white;
  cursor: pointer;
  &:disabled {
    background:#9de4be;
  }
}

.available-balance{
  font-size:26px;
  font-weight:800
}

.btn--new-card{
  background:$color-blue;
  width:109px;
  height:35px;
  border:transparent;
  border-radius:$spacing-unit;
  color:$color-white;
  font-weight:bold;
  display:flex;
  align-items:center;
  padding:$spacing-unit*2 $spacing-unit*3;
}

.icon--new-card {
  width:$spacing-unit*4;
  height:$spacing-unit*4;
  margin-right:$spacing-unit*2;
}

.all-card-container{
  margin-top:$spacing-unit*9;
  display:flex;
  gap:$spacing-unit*8;

  @media (max-width: 600px) {
    margin: $spacing-unit*6 0; 
  }
}

.my-debit-card{
  color:$color-blue;
  font-weight:bold;
  border-bottom: 2px solid #23CEFD;
  padding-bottom:$spacing-unit;
  @media (max-width: 600px) {
    color: $color-white;
  }
}

.all-company-card {
  color:$color-black;
  opacity:30%;
  @media (max-width: 600px) {
    color: $color-white;
  }
}
.layout-container{
  padding:$spacing-unit*8 $spacing-unit*10;
  border-radius:$spacing-unit*2;
  margin-top:$spacing-unit*4;
  border:1px solid #FCFCFC;
  box-shadow:0px 2px 12px #00000014;
  display:flex;justify-content:space-between;
}

.view-all-card-transaction{
  text-align:center;
  color:$color-green;
  background:#EDFFF5;
  border:1px solid #DDFFEC;
  border-radius:$spacing-unit*2;
  padding:$spacing-unit*4;
}

.loan-apply {
  background: #0C365A;
  min-height: 100vh;
  padding: $spacing-unit*10;
  h1 {
    font-size: 26px;
    color: $color-white;
    margin-top: $spacing-unit*15;
    margin-bottom: $spacing-unit*5;
  }
}

.form-container{
  max-width: 700px;
  padding: $spacing-unit*8;
  background: #EDF3FF;
  margin: $spacing-unit*3 auto;
  gap:$spacing-unit*5;
  border-radius: $spacing-unit*3;
  box-shadow: 0 2px 12px #9cbad3;
  display: flex;
  flex-direction: column;
}

.form--input{
  height: $spacing-unit*8;
  margin: auto;
  padding: $spacing-unit*2;
  font-size: $spacing-unit*4;
  border-radius: $spacing-unit;
  border: 1px solid #9cbad3;
  min-width: 230px;
}

input:focus{
  outline: none;
  border: 1px solid #0C365A;
}

.btn-submit{
  margin: auto;
  padding: $spacing-unit*2;
  font-size: $spacing-unit*4;
  border-radius: $spacing-unit;
  border: 1px solid #9cbad3;
  background: #0C365A;
  color: $color-white;
}

.loan-details {
  display: flex;
  flex-direction: column;
  h1{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: $color-black;
    margin: 0;
  }
  p{
    margin: $spacing-unit*3 0;
    font-weight: 500;
    font-size: $spacing-unit*4;
  }
}

.btn-pay--emi {
  margin: $spacing-unit*3 auto;
}

.cards-mobile--bottom-nav {
  position: fixed;
  z-index: 1000;
  bottom: 0; 
  right: 0; 
  left: 0
}

.cards-mobile--bottom-nav-container {
  background: $color-white;
  height: 56px;
  box-shadow: 0 -3px 6px #00000014;
  padding: $spacing-unit*2 $spacing-unit*8;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.cards-mobile--bottom-nav--item {
  font-size: 9px; 
  color: #dddddd
}

.cards-mobile--fixed-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #0c365a;
  padding: $spacing-unit*6;
  padding-bottom: $spacing-unit*8;
}

.card-mobile--new-card{
  color: #23cefd;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: $spacing-unit*2 $spacing-unit*3;
}

.cards-mobile--show-card {
  height: $spacing-unit*10;
  background: $color-white;
  margin-bottom: -$spacing-unit*4;
  border-radius: 6px;
  padding: $spacing-unit $spacing-unit*2;
  z-index: -1;
}

.cards-mobile--show-card--icon {
  height: $spacing-unit*4;
} 

.cards-mobile--secondary-card{
  align-self: center;
  right: -$spacing-unit*2;
  position: absolute;
  height: 220px;
  width: $spacing-unit*5;
  border-radius: $spacing-unit*3;
  background: #536dff;
}

.cards-mobile--bottom-content{
  position: relative;
  top: 450px
}

.cards-mobile--bottom-content--item{
  background: $color-white; 
  margin-top: -$spacing-unit*4;
  padding-top: $spacing-unit*6;
}